/* 把标签默认的间距设为0 */
body, ul, ol, p, h1, h2, h3, h4, h5, h6, dl, dd, select, input, textarea, form {
    margin: 0;
    padding: 0
}

/* 让h标签文字大小继承body的文字设置 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* 去掉列表默认的图标 */
ul, ol {
    list-style: none;
}

/* 去掉em默认的斜体 */
em {
    font-style: normal;
}

/* 去掉a标签默认的下划线 */
a {
    text-decoration: none;
}

/* 去掉加链接时产生的框线 */
img {
    border: 0;
}

/* 清除浮动 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1
}

/* 浮动 */
.fl {
    float: left
}

.fr {
    float: right
}

.adv-wrapper-text {
    width: 100%;
    height: 50px;
    background-color: RGB(68, 68, 68);
    padding: 0 50px;
    font-size: 12px;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 50px;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: right;
    margin: 0 auto;
    color: #8c8c8c;
}

.navbar {
    background-color: RGB(50, 50, 50);
}

.prompt,.prompt-red{
    display: block;
    text-indent: 100px;
}

.prompt-red{
    color: red;
}

.form-submit{
    margin: 50px auto;
    width: 960px;
    height: 720px;
}

.form-submit li textarea{
    width: 720px;
    height: 95px;
}

.form-submit li label{
    width: 100px;
    height: 40px;
    line-height: 40px;

    font-size: 14px;
}

.form-submit li .input_box{
    width: 720px;
    height: 38px;
    border: 1px solid #e0e0e0;

    outline: none;
    text-indent: 10px;
    background-color: #f8f8f8;
}

.form-submit .select_box{
    width: 200px;
    height: 38px;
    border: 1px solid #e0e0e0;
    margin-right: 30px;
}

.spacing li{
    margin: 20px auto;
}

/* 申请表单页 */
.prompt,.prompt-red{
    display: block;
    text-indent: 100px;
}

.prompt-red{
    color: red;
}

.form-submit{
    margin: 50px auto;
    width: 960px;
    height: 720px;
}

.form-submit li textarea{
    width: 720px;
    height: 95px;
}

.form-submit li label{
    width: 100px;
    height: 40px;
    line-height: 40px;

    font-size: 14px;
}

.form-submit li .input_box{
    width: 720px;
    height: 38px;
    border: 1px solid #e0e0e0;

    outline: none;
    text-indent: 10px;
    background-color: #f8f8f8;
}

.form-submit .select_box{
    width: 200px;
    height: 38px;
    border: 1px solid #e0e0e0;
    margin-right: 30px;
}

.spacing li{
    margin: 20px auto;
}

/* 注册页 */
div .register_title{
    width: 100%;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    color:#a8a8a8;
    text-align: center;
    font-weight:bold;
}

li .error_tip{
    float:left;
    height:16px;
    line-height:16px;
    margin-left:105px;
    color:#e62e2e;
    display:none;
}

/* 登录页 */
.name_input,.pwd_input{
    width:306px;
    height:36px;
    border:1px solid #e0e0e0;
    background:url(../images/icons02.png) 280px -43px no-repeat #f8f8f8;
    outline:none;
    font-size:14px;
    text-indent:10px;
}

.pwd_input{
    top:65px;
    background-position:280px -95px;
}

.user_error,.pwd_error{
    color:#f00;
    display:block;
}

.user_error,.pwd_error{
    float:left;
    height:16px;
    line-height:16px;
    margin-left:0px;
    color:#e62e2e;
    display:none;
}